Options +FollowSymLinks -Indexes
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/(?:api) [NC]
RewriteRule ^api/(.*)$ api/index.php?page=$1 [QSA]

RewriteCond %{REQUEST_URI} ^/(?:static) [NC]
RewriteRule ^static/(.*)$ static/index.php?page=$1 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(css|js|html|png|jpg|jpeg|gif|txt)
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?page=$1 [QSA]


